<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibbumobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <!-- Permissions required by the GoogleMap -->
    <permission
        android:name="com.ibbumobile.permision.MAPS_RECIEVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ibbul.com.ibbu_lapai.permision.MAPS_RECIEVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permissions required by the Sync Adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Vibrate permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestsActivity"
            android:label="@string/title_activity_tests"
            android:parentActivityName=".TimeTableActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBrZHl8l5fbq3kOHXg30SU3vCHBZW9PH9g" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeBoardActivity"
            android:label="@string/title_activity_notice_board"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeopleActivity"
            android:label="@string/title_activity_people"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentsActivity"
            android:label="@string/title_activity_students"
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StaffsDirActivity"
            android:label="@string/title_activity_people"
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeWorkActivity"
            android:label="@string/title_activity_home_work"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForecastActivity"
            android:label="@string/title_activity_forecast"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".DataProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".ForecastDetailActivity"
            android:label="@string/title_activity_forecast_detail_actvity"
            android:parentActivityName=".ForecastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsInfo"
            android:label="@string/title_activity_news_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calculator"
            android:label="@string/title_activity_calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhotosActivity"
            android:label="@string/title_activity_photos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/my_accessibility_service"/>
        </service>

        <service
            android:name=".NotificationTrigger"
            android:exported="false" />


        <receiver android:name=".AlarmBroadcaster" />
        <receiver
            android:name=".DeviceBootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreenActivity"></activity>
    </application>

</manifest>